* {
    font-family: "Tajawal", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* header start */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 5px 10px;
    direction: rtl;
}

.page-header .header-title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-weight: 400;
    width: 80%;
}

.header-icon {
    width: 7%;
}

/* header end */

/* swiper start */

.product-images-swiper {
    width: 100%;
    direction: unset !important;
}


.product-images-swiper .swiper-wrapper {
    direction: unset !important;
}

.product-images-swiper .swiper-slide img {
    width: 100%;
    max-height: 100vw;
}

.product-images-swiper .swiper-pagination-bullet {
    color: #fff !important;
    width: 8px;
    height: 8px;
}

.product-images-swiper .swiper-pagination-bullet-active {
    background: #e62e04 !important;
}

#product-images-zoomable-swiper-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.product-images-zoomable-swiper {
    margin-top: 25%;
}

.product-images-zoomable-swiper .swiper-slide img {
    width: 100vw;
    max-height: 100vw;
}

.product-images-zoomable-swiper .swiper-wrapper {
    position: sticky;
}

.thumbs-swiper {
    overflow-x: scroll;
    white-space: nowrap;
}

.thumbs-swiper .swiper-slide {
    width: 20%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    float: none !important;
    margin-right: 3px;
    margin-left: 3px;
}

.thumbs-swiper .swiper-slide img {
    width: 100%;
}

.thumb-swiper-slide-active img {
    border: solid 3px #fff;
}

.thumb-swiper-slide-active {
    width: 22% !important;
    margin-right: 2vw !important;
    margin-top: 4px;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 400;
}

.swiper-pagination.swiper-pagination-custom {
    color: #fff !important;
    font-size: 17px !important;
    font-weight: 300;
    width: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-bottom: 10px;
}

/* swiper end */

/* product price start */

.product-price-and-rating {
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 12px;
    padding-left: 5px;

}

.product-rating {
    color: #ffcc00;
    display: flex;
    align-items: center;
    gap: 2px;
    margin-right: 10px;
}

.product-reviews-count {
    color: grey;
}

.price-discount {
    background-color: #FFdFdF;
    color: #BD3C43;
    padding: 0 3px;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.product-current-price {
    color: red;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.product-original-price {
    text-decoration: line-through;
    /* Strikethrough effect for the original price */
    color: grey;
    font-size: 20px;
}

.currency {
    font-size: 1.2rem;
}

.average-rating {
    color: black;
    font-family: "Tajawal", sans-serif;
    font-weight: 500;
    font-size: 17px;
}

/* product price end */

/* product name start */

.product-name-and-id {
    padding: 5px 15px;
    position: relative;
}

.product-name {
    color: black;
    font-family: "Tajawal", sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-align: right;
    float: right;
}

.product-name .product-name-english {
    color: #797D80;
    margin-top: 7px;
}

.product-name-english,
.product-name-arabic {
    padding-left: 25px;
}

.copy-container {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    float: right;
    text-align: right;
    justify-content: flex-end;
    padding: 0 5px;
}

.copy-text-button {
    margin-right: 10px;
    text-align: center;
}

.copy-text {
    margin-right: 10px;
}

.copy-icon {
    cursor: pointer;
    padding: 5px;
    color: #0000ff;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.product-share-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-top: 3px;
}

/* product name end */

/* product colors start */

.product-colors {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: right;
    padding: 2px 15px;
}

.product-colors .product-color {
    margin-top: 10px;

    width: 8%;
    aspect-ratio: 1 / 1;
    /* width / height */
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    float: none !important;
    margin-right: 3px;
    margin-left: 3px;
}

.color1 {
    background-color: lightgray;
}

.color2 {
    background-color: lightpink;
    border: 1px solid #333;
}

.color3 {
    background-color: lightblue;
}

.sub-section-title {
    font-size: 17px;
    font-weight: 500;
    text-align: right;
}

/* product colors end */

/* product sizes start */
.product-sizes {
    display: flex;
    justify-content: flex-end;
    padding: 0 4px;
    flex-wrap: wrap;

}

.product-sizes button {
    padding: 5px 15px;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;

}

.product-sizes button:hover {
    border-color: #000;
}

.product-sizes button.active {
    border-color: #000;
}

.title {
    text-align: right;
    padding: 10px;
}

.size-selector-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    font-size: 17px;
    align-items: center;
}

/* product sizes end */

/* product quantity start */

.product-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-quantity .sub-section-title {
    width: 100%;
    padding: 5px 15px;
}

.quantity-selector {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
    width: 100%;
}

.quantity-selector input {
    text-align: center;
    height: 30px;
    width: 15px;
    border: none;
    font-size: 20px;

}

.quantity-selector button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 25px;
    margin: 0 7px;
}

/* prduct quantity end */

/* similar products start */
.similar-products {
    padding-top: 5px;
    margin-bottom: 5px;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    float: right;
    background: #fff !important;
}

.similar-products .product-image {
    width: 20%;
    cursor: pointer;
    display: inline-block;
    float: right;
    position: relative;
    margin-right: 3px;
    margin-left: 3px;
}

.similar-products img {
    width: 100%;
}

.similar-products-title {
    margin-top: 8px;
    padding-right: 15px;
}

/* similar products end */

/* info section start */
.info-section {
    padding: 5px;
    /* margin: 10px 0; */
    display: flex;
    flex-direction: row-reverse;
        font-size: 17px;
    padding: 0 10px;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    background: #fff !important;
}

.info-section-two {
    position: relative;
    background: #fff !important;
    margin-bottom: 5px;

}

.info-icon {
    height: 40px;
    width: 40px;
    background-color: #90ee90;
    /* Light green background */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
}

.info-text {
    flex: 1;
    text-align: right;
    position: relative;
}

.info-section strong {
    font-weight: 500;
    font-size: 18px;
    margin-right: 7px;
}

.info-text span {
    margin-right: 3px;
    font-size: 14px !important;

}

.arrow-icon {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 2px;
    margin-left: 20px;
}

.info-section ul {
    width: 100%;
}

.info-section-header {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
}

.info-section-header strong {
    font-weight: 500;
    font-size: 18px;
    margin-right: 7px;
}

.policy-info-text {
    position: relative;
}

.policy-info-text ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    padding: 0 10px;
    direction: rtl !important;
}

.policy-info-text ul li {
    font-size: 14px;
    padding: 5px;
    margin-bottom: 6px;
    background-color: #fff;
    break-inside: avoid-column;
}

.delivery-info-text {
    position: relative;
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
    direction: rtl !important;


}

.delivery-info-text ul {
    list-style-type: none;

}

.delivery-info-text ul li {
    margin-bottom: 5px;
}

/* info section end */

/* popup start */
.info-section {
    cursor: pointer;
}

.popup {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: white;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    z-index: 1000;
    direction: rtl !important;
}

.popup-content {
    color: gray;
    padding: 20px;
    height: 70vh;
    font-size: 14px;
    text-align: right; 
}

.popup-content .popup-title {
    color: #000;
    margin-bottom: 5px;
    margin-top: 10px;
}

.popup-content div {
    margin-bottom: 5px;
}

/* Hidden state */
.popup:not(.active) {
    height: 0;
}

/* Active state */
.popup.active {
    height: 70vh;
}

.close-btn {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    width: 40px;
    background: transparent;

    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.close-btn img {
    width: 100%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999; 
}

.overlay.active {
    display: block;
}

/* popup end */

.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    padding: 3px 0;
    box-sizing: border-box;
    align-items: center;
}

.bottom-navbar img {
    margin-bottom: -10px;
}

.nav-button {
    text-align: center;
    height: 7vh;
}

.nav-button.red {
    background-color: #ED2D37;
    border-radius: 12px;
    height: 6vh;
    width: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav-button.red img {
    margin-bottom: 3px;
}

.nav-button.red span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-placeholder {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ddd;
}

.button-text {
    display: block;
    font-size: 14px !important;
}

.info-sections {
    background-color: lightgray;
}