@font-face {
    font-family: "Talis Heavy W00 Heavy";
    src: url("https://db.onlinewebfonts.com/t/cc7646983aa73bfa5f96086eb19068a8.eot");
    src: url("https://db.onlinewebfonts.com/t/cc7646983aa73bfa5f96086eb19068a8.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/cc7646983aa73bfa5f96086eb19068a8.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/cc7646983aa73bfa5f96086eb19068a8.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/cc7646983aa73bfa5f96086eb19068a8.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/cc7646983aa73bfa5f96086eb19068a8.svg#Talis Heavy W00 Heavy")format("svg");
}

* {
    font-family: "Tajawal", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.page-header {
    font-family: "Talis Heavy W00 Heavy";
    color: #ED2D37;
    font-size: 13px;
    display: flex;
    margin-bottom: 2px;
    padding: 5px 15px;
    font-weight: bold;
}
.page-header h1 {
padding-top: 6px;

}
.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 0 10px;
}
.search-bar {
    display: flex;
}
.page-header .search-field {
    color: #88888C;
}

.page-header .search-field {
    font-size: 17px;
    margin-right: 4px;   
    padding-top: 4px;
}


.page-header .icon {
    width: 20px;
    height: 20px;
}

.page-header .icon {
    width: 20px;
    height: 20px;
}

.page-header .search-icon {
    width: 20px;
    height: 25px;
}

.page-header .heart-icon {
    width: 25px;
    height: 25px;
    align-self: center;
}


.slider {
    /* margin-top: 40px; */
    width: 100%;
}

.cover-images-slider .bx-controls {
position: absolute !important;
    bottom: 40px !important;
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100px !important;
}

.categories-slider .bx-wrapper {

}


.cover-images-slider .bx-wrapper .bx-pager.bx-default-pager a {
    border-radius: 0 !important;
    width: 20px !important;
    height: 7px !important;


}
.cover-images-slider .bx-wrapper .bx-pager-item {
    width: 19px !important;
}


/* .cover-images-slider .bx-wrapper .bx-pager-item {
    width: 19px !important;
    margin: 0 !important;
    padding: 0 !important;

    }

.cover-images-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.cover-images-slider .bx-wrapper .bx-pager.bx-default-pager a.active,
.cover-images-slider .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #fff !important;
    width: 22px !important;
    margin: 0 5px !important;
}

.cover-images-slider .bx-wrapper .bx-pager {
} */

/* 
.categories-slider .bx-wrapper .bx-pager {
    color: #b0b0b0 !important;
}



.categories-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #b0b0b0 !important;
} */



.slider2 img {
    width: 80%;
    border-radius: 50%;
    display: inline !important;
}

.item {
    width: 23%;
    text-align: center;
    padding: 5px 0;
}

.title {
    font-size: 14px;
    text-align: center;
}

.slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.categories-slider {
    margin-top: -50px;
}
.categories-slider .bx-wrapper {
    border: 0 !important;
}

.categories-slider .bx-wrapper .bx-pager.bx-default-pager a {
    border-radius: 0px !important;
    width: 20px !important;
    height: 7px !important;
}

.categories-slider .bx-wrapper .bx-pager-item {
    width: 19px !important;
}

.categories-slider .bx-wrapper .bx-pager {
    color: #b0b0b0 !important;
}

.categories-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.categories-slider .bx-wrapper .bx-pager.bx-default-pager a.active,
.categories-slider .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #444 !important;
}

.categories-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #b0b0b0 !important;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid .grid-item {
    width: 45%;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    overflow: hidden;
}

.grid img {
    width: 100%;
}

.grid .grid-item-title {
    text-align: right;
    width: 75%;
    color: #111;
    font-weight: 500;
    padding-left: 5px;
    font-size: 14px;
}

.grid-caption-container {
    display: flex;
    padding-left: 8px;
}

.arrow {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
}

.arrow:after {
    position: absolute;
    display: block;
    content: "";
    color: #111;
    width: 30px;
    height: 15px;
    top: -1px;
    border-bottom: solid 2px;
    transform: translatex(4px);
}

.arrow:before {
    position: absolute;
    display: block;
    content: "";
    color: #111;
    width: 8px;
    height: 8px;
    border-top: solid 2px;
    border-left: solid 2px;
    top: 50%;
    left: 2px;
    transform-origin: 0% 0%;
    transform: rotatez(-45deg);
}

.brands-container {
    margin-top: 7px;
}

.brands-container header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}


.brands-container h2 {
    font-size: 14px;
    text-align: right;
}

.brands-slider {
    display: flex;
    flex-wrap: nowrap;
}

.brands-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
    height: 17vh;
    flex-direction: row-reverse;
}

.brand-container {
    flex: 0 0 auto; 
    width: 27%;  
    position: relative;
    margin-right: 3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.brand-container .brand-image{
    width: 100%;
    height: 25px;
 }


 .brand-container .example-image{
    /* width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; */
 }

.brands-slider::-webkit-scrollbar {
    display: none;
}

.navigation-bar {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    position: fixed;
    bottom: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #888;
    background: #fff;
    z-index: 999998;
}

.navigation-bar .frame {
    display: flex;
    flex-direction: column;
    width: 54px;
    align-items: center;
    gap: 2px;
    position: relative;
    margin-top: -6px;
    margin-bottom: -6px;
}

.navigation-bar .text-wrapper {
    position: relative;
    /* width: fit-content; */
    font-family: "Tajawal", Helvetica;
    font-weight: 500;
    color: var(--collection-1-secondary-grey);
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    direction: rtl;
}

.products-container {
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 300px;

}
.categories-bar{
    display: flex;

    color: #999;
    padding-bottom: 5px;

    flex-wrap: nowrap;
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */

    flex-direction: row-reverse;
    justify-content: space-evenly;

}

.categories-bar .category{
    transition: background-color 0.5s ease, color 0.5s ease; /* Add transitions for the properties you

    width: auto; /* remove any fixed width */
    max-width: none; /* remove any max-width restrictions */
    border-radius: 20px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    font-size: 13px;
    text-align: center;
    padding: 8px 12px;
}

.categories-bar .category-selected{
    background-color: #ED2D37;
    color: #fff;
}

.products-container .product-section {
    padding-bottom: 20px;
}

.products-container .product-section .product-section-header {

    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 5px;

}

.products-container .product-section .product-section-header .product-section-header-title {
    font-weight: 500;
    font-size: 15px;
    color: #000;
}

.products-container .product-section .product-section-header .arrow {
   width: 22px;
}

.products-container .product-section .product-section-items {
    display: flex;
    justify-content: space-between;
}

.products-container .product-section .product-section-items .product-section-item {
    width: 32%;
    height: 140px;
    position: relative;
}

.products-container .product-section .product-section-items .product-section-item .product-section-item-img {
    width: 100%;
    height: 140px;
}

.products-container .product-section .product-section-items .product-section-item .product-section-item-cart-logo-img {
    width: 35px;
    border-radius: 50%;
    position: absolute;
    bottom: 7px;
    right: 7px;
}

.products-container .product-section .product-section-items .product-section-item .product-section-item-price {
text-align: center;
font-weight: bold;
font-size: 16px;
margin-top: -7px;
}


