* {
    font-family: "Tajawal", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
}

.page-header {
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 16px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.page-header img {
    width: 5%;
    display: inline-block;
}

.page-header h1 {
    font-size: 18px;
    font-weight: 500;    
    margin-right: 5px;
    padding-top: 3px;
}


.page-container {
    padding: 10px 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-container a {
    text-decoration: none;
    width: calc(50% - 5px);
    color: #000;
}

.card-container {
    background-color: #FFFFFF;
    text-align: right;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    margin-bottom: 13px;
    overflow: hidden;
}

.card-container img {
    min-height: 100px;
    width: 100%;
}

.card-container h2 {
    padding: 0 5px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 30px;

    color: #707070;
    display: inline-block;
}

.card-container .date {
    color: #000;
    font-size: 14px;
    display: inline-block;
}

.card-container .description {
    display: inline-block;
}

.card-container p {
    margin-bottom: 5px;
    padding: 0 5px;
    font-size: 14px;
    font-weight: 400;
}