* {
    font-family: "Tajawal", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    margin-top: 40px;
}

img {
    width: 80%;
    border-radius: 50%;
}

.item {
    width: 23%;
    text-align: center;
}

.title {
    font-size: 14px;
    text-align: center;
}

.slide { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}